html, body {
    background-color: lightgrey;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h2 {
    font-size: 1.5rem;
    color: black;
    padding: 20px 5px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline overline;
    text-decoration-color: slategrey;
    margin-left: 0.5em;
}

section {
    margin: 5px;
}

/* NavBar */

    nav {
        background-image: linear-gradient(to bottom right, darkgray, darkslategrey);
        opacity: 0.97;
    }
    
    .navbar-brand {
        color: white;  
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        text-shadow: 2px 2px black;
        font-size: 2em;
    }

    .navbar-brand:hover {
        color: slategrey;
    }
    .navbar-toggler-icon {
        z-index: 2000;
    }

    nav ul {
        justify-content: end;
    }

    .nav-item {
        color: white;
        font-size: 1.5em;
        margin: 0 0.5em;
    }

    .active {
        font-weight: bold;
    }

    .nav-item:hover {
        color: lightgrey;
    }



/* Main Title */

#main-title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: darkslategrey;    
        text-transform: uppercase;
        font-style: italic; 
        margin-top: 56px;
        text-align: center;
        padding-top: 1em;
        text-shadow: 2px 2px white;

    }



/* Car Listings */

    #listings {
        padding-bottom: 50px;
    }

    .card-img-top {
        height: 40%;
        border-radius: 2% 15% 0% 0%;
        object-fit: cover;
    }

    div .col {
        max-width: 250px;
        min-height: 350px;
    }

    .card {
        border-radius: 2% 15%;
        height: 300px;
        width: 200px;
    }

    .card:hover {
        box-shadow: -3px -3px black;
        left: 3px;
        top: 3px;
    }
    
    div.card-body {
        height: 60%;
    }

    .card-title {
        font-weight: bold;
        text-align: center;
    }

    .card-text {
        font-style: italic;
    }

/* Enquiries Form */

    #enquiries {
        margin: 5px 75px;
    }

    #enquiry-button {
        background-color: darkslategrey;
        border: none;
    }

    #enquiry-button:hover {
        background-color: black;
    }


/* Contact Details */

    #contact {
        margin-left: 50px;;
    }

    iframe {
        margin: 10px;
        margin-left: 0px;
    }

    .contact-title {
        font-weight: bold;
    }

    @media only screen and (max-width: 460px) {
        iframe {
            display:none;
        }
    }


#backtotop {
    text-align: end;
}